*{
    margin: 0;
    padding: 0;
    
}


.img-logo {
    background:#680BD8;
    width: 85px;
    height: 50px;
    border-radius: 10px;
}
 .login-logo {
    background: white;
 }

.list-group {
    --bs-list-group-bg: transparent;
}

.fa-brands.fa-facebook-f:hover {
    --bs-text-opacity: 1;
    color: #3b5998 !important;
}
.fa-brands.fa-instagram:hover {
    --bs-text-opacity: 1;
    color:#833AB4 !important;
}
.fa-brands.fa-linkedin-in:hover {
    --bs-text-opacity: 1;
    color:  #0072b1 !important;
}
.fa-brands.fa-twitter:hover {
    --bs-text-opacity: 1;
    color: #1DA1F2 !important;
}
.fa-brands.fa-github:hover {
    --bs-text-opacity: 1;
    color: #B5B2B2 !important;
}
.fa-solid.fa-user-lock:hover {
    --bs-text-opacity: 1;
    color:#680BD8;
}

.img-banner img {
    position: relative;
    width: 100%;
    height: 40vh;
}

.presentacion {
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.contenedor-presentacion {
margin: 0;
width: 100%;
height: 30vh;
}

.img-perfil {
margin: 0px;
width: 210px;
height: 200px;
}